@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@layer components {
  .theme {
    @apply bg-no-repeat bg-mobile sm:bg-tablet md:bg-desktop dark:bg-mobile-dark dark:sm:bg-tablet-dark dark:md:bg-desktop-dark;
  }

  .btn-primary {
    @apply shadow-default bg-primary hover:bg-primary/[0.5] text-white text-[28px] font-medium leading-none p-8 rounded-3xl flex justify-center items-center grow-0
  }

  .btn-option {
    @apply shadow-default bg-white dark:bg-navy text-dark-navy dark:text-white text-[28px] font-medium leading-none p-3 md:py-[18px] md:px-5 rounded-lg md:rounded-3xl active:outline active:outline-2 active:outline-primary flex justify-between items-center cursor-pointer
  }
}